<div class="container">
    <ul class="breadcrumbs">
        <li><a [routerLink]="[ '' ]"><span>Головна</span></a></li>
        <li><a [routerLink]="[ '/discount/' ]"><span>Акції</span></a></li>
        <li><a><span>{{ discount.name }}</span></a></li>
    </ul>
</div>
<div class="spacer-sm"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-10 col-12">
            <div class="mini-banner bg-mono">
                <div class="center-info type-2">
                    <h2 class="title text-cut-2"> {{ discount.title }} </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer-md"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-10 col-12">
            <div class="simple-page">
                <ul>
                    <li> {{discount.description}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>
